<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <span>Patients</span>
    </div>
</md-toolbar>

<div layout="row">
    <md-card>
        <md-card-content>
            <md-table-container>
                <table md-table>
                    <thead md-head md-order="myOrder">
                    <tr md-row>
                        <th md-column md-order-by="lastName">Last Name</th>
                        <th md-column md-order-by="firstName">First Name</th>
                        <th md-column md-order-by="city">City</th>
                        <th md-column md-order-by="state">State</th>
                        <th md-column md-order-by="zip">Zip</th>
                        <th md-column md-order-by="address">Address</th>
                        <th md-column md-order-by="diagnosis">Diagnosis</th>
                        <th md-column></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="patient in ctrl.data | orderBy: myOrder">
                        <td md-cell>{{patient.lastName}}</td>
                        <td md-cell>{{patient.firstName}}</td>
                        <td md-cell>{{patient.city}}</td>
                        <td md-cell>{{patient.state}}</td>
                        <td md-cell>{{patient.zip}}</td>
                        <td md-cell>{{patient.address}}</td>
                        <td md-cell>{{patient.diagnosis}}</td>
                        <td md-cell><md-button class="md-raised md-primary">Details</md-button></td>
                    </tr>
                    </tbody>
                </table>
            </md-table-container>
        </md-card-content>
    </md-card>
</div>
